body {
    background-color: azure;
    font-family:Verdana;
}
table {
    width: 38%;
    border: ridge cornflowerblue;
    margin: 5px;
    font-family: Verdana;
    margin: 1.5%;
}

th {
    background-color: cornflowerblue;
}

tr{
    
}

#botao-apagar,#botao-editar{
    background-color: cornflowerblue;
    padding: 2.5px;
    border-radius: 8px;
    text-decoration: wavy;
    font-weight: normal;
    cursor: pointer;
    margin-left: 10%;
}

#botao-cadastro {
    background-color: cornflowerblue;
    padding: 2.5px;
    border-radius: 5px;
    text-decoration: wavy;
    font-weight: normal;
    cursor: pointer;
    margin-left: 2%;
}