
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cadastro</title>
</head>
<body>
    <div> 
        <a href="/estoque/" >Lista de Estoques</a>
    </div>

    <form action="/escola/store" method="post">
        <label for="campo-nome" name="Nome da Escola"></label>
        <input type="text" name="nome" id="campo-nome" />
        
        <button type="submit">Salvar</button>

        </form
</body>
</html>
