
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cadastro</title>
    <link rel="stylesheet" href="~/Content/EscolaCadastro.css"
</head>
<body>
    <div>
        <a href="/escola/">Lista de Escolas</a>
    </div>
    <form action="/escola/store" method="post">
        <div class="div-campo">
            <label for="campo-nome">Nome</label>
            <input type="text" name="nome"
                   id="campo-nome" class="campo" />
        </div>

        <button type="submit" id="botao-salvar">Salvar</button>
    </form>
</body>
</html>
