
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cadastro Escola</title>
    <link rel="stylesheet"href="~/Content/EscolaIndex.css";
</head>
<body>
    <div> 
        <a href="/escola/cadastro">Cadastro Escola</a>
    </div>
    <div>
        <table>
            <thread>
                <tr>
                    <th>Nome da Escola</th>
                </tr>
            </thread>
        </table>
    </div>

    
</body>
</html>
